<h1> Here are your 10 results within 6 miles </h1>
<div class='results'>
  <ul>
  <% @stations.each do |station| %>
  <div class='result'>
    <li class='name'>Name: <%= station.name %> </li>
    <li class='fuel_type'> Fuel_type: <%= station.fuel_type %> </li>
    <li class='address'> Address: <%= station.address %> </li>
    <li class='distance'> Distance: <%= station.distance %> </li>
    <li class='access_time'> Access_Time: <%= station.access_time %> </li><br>
  </div>
  <% end %>
</ul>
